@import "http://fonts.googleapis.com/css?family=Inder&subset=latin,latin-ext";

#page {
    font-family: 'Inder',Times New Roman,sans-serif;
    margin: 0 auto;
    width: 940px;
}

header {
    margin-top: 50px;
}

#container {
    margin-top: 30px;
}

#tweets {
    margin: 30px auto 0;
    width: 600px;
}

.tweet {
    border: 2px solid gray;
    border-radius: 7px 7px 7px 7px;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    min-height: 80px;
    padding: 10px;
    position: relative;
    width: 600px;
}

.tweet-profile-pic {
    border-radius: 7px 7px 7px 7px;
    float: left;
    height: 48px;
    width: 48px;
}

.tweet-content {
    float: right;
    width: 90%;
    word-break: break-all;
}

.tweet-content a {
    color: #0084C4;
}

#tweets hr {
    float: left;
    width: 600px;
}

.search-box {
    border: 2px solid #C3C3C3;
    border-radius: 5px 5px 5px 5px;
    font-size: 23px;
    height: 35px;
    width: 80%;
}

button {
    background: none repeat scroll 0 0 #00AAE8;
    border: 0 solid #00AAE8;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
}

#search-button {
    font-size: 20px;
    height: 42px;
    margin-left: 5px;
    width: 18%;
}

.search-bar {
    width: 100%;
}

button::-moz-focus-inner {
    border: 0 none;
}

#settings-panel {
    margin-top: 30px;
}

#count-spinner {
    text-align: center;
    width: 30px;
}

#refresh-time-label {
    margin-left: 200px;
}

#result-type-label {
    float: right;
    margin-right: 8px;
}

#time-spinner {
    text-align: center;
    width: 50px;
}

footer {
    margin-bottom: 50px;
}
